<!DOCTYPE html>
<html ng-app="studentInfoApp">

<head>
    <title>Student Information</title>
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="studentInfo.module.js"></script>
    <script src="studentInfo.svc.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
</head>

<body ng-controller="AppCtrl as vm">
    <div class="container">
        <div class="col-md-12" style="border:solid 1px black">
            <div class="row">
                <!--  <div class="col-md-10"> -->
                <div class="col-md-12" style="text-align: center; color:#0099cc;">
                    <h1><strong>Student Resistration</strong></h1>
                </div>
                <div class="col-md-12">
                    <form class="form-horizontal" style="padding-top: 20px;" name="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="username">Name</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="vm.ui.name" class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="email" ng-model="vm.ui.email" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">Department</label>
                            <div class="col-sm-8">
                                <select name="section" class="form-control " ng-model="vm.ui.department">
                                    <option ng-repeat="dept in vm.departments" value="{{dept.name}}">{{dept.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="section" class="col-sm-2 control-label">Section</label>
                            <div class="col-sm-8">
                                <select name="section" class="form-control  " ng-model="vm.ui.section">
                                    <option ng-repeat="sec in vm.sections" value="{{sec.name}}">{{sec.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hobbies" class="col-sm-2 control-label">Hobbies</label>
                            <div class="col-sm-8">
                                <textarea name="hobbies" class="form-control" rows="5" placeholder="hobbies" ng-model="vm.ui.hobbies"></textarea>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="gender" class="col-sm-2 control-label">Gender</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="female" ng-model="vm.ui.gender">Female</label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="male" ng-model="vm.ui.gender">Male</label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="others" ng-model="vm.ui.gender">Others</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-success" ng-model="vm.isSubmit" ng-click="vm.submitForm(vm.ui)">submit</button>
                                <button type="submit" class="btn btn-info" ng-click="vm.reset()">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--  </div>
                <div class="col-md-2"></div> -->
            </div>
        </div>
        <div ng-if="vm.length > 0" class="col-md-12" style="border:solid 1px green;    margin-top: 7px;">
            <div class="col-md-12" style="text-align: center; color:#0099cc;">
                <h1><strong>List Of Students</strong></h1>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Department</th>
                        <th>Section</th>
                        <th>Gender</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, row) in vm.studentsData track by $index">
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.department}}</td>
                        <td>{{row.section}}</td>
                        <td>{{row.gender}}</td>
                        <td>
                            <input type="button" class="btn btn-info btn-xs btn-rounded" ng-click="vm.edit(row.id,$index);" value="Edit">
                            <!-- <input type="button" class="btn btn-danger btn-xs btn-rounded" ng-click="vm.remove(row.id);" value="Remove"> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
