<form name="form" role="form">
    <div class="form-group">
        <label for="username">Name</label>
        <input type="text" ng-model="$ctrl.student.name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="username">Department</label>
        <select name="section" class="form-control " ng-model="$ctrl.student.department">
            <option ng-repeat="dept in $ctrl.dept" value="{{dept.name}}">{{dept.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="section">Section</label>
        <select name="section" class="form-control  " ng-model="$ctrl.student.section">
            <option ng-repeat="sec in $ctrl.sections" value="{{sec.name}}">{{sec.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="hobbies">Hobbies</label>
        <textarea name="hobbies" class="form-control" rows="5" placeholder="hobbies" ng-model="$ctrl.student.hobbies"></textarea>
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <label class="radio-inline">
            <input type="radio" name="gender" value="female" ng-model="$ctrl.student.gender">Female</label>
        <label class="radio-inline">
            <input type="radio" name="gender" value="male" ng-model="$ctrl.student.gender">Male</label>
        <label class="radio-inline">
            <input type="radio" name="gender" value="others" ng-model="$ctrl.student.gender">Others</label>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger" ng-click="$ctrl.submitForm($ctrl.student)">submit</button>
    </div>
</form>
